<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Secure_Library.Properties.Settings.USERMANAGEMENTConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=USERMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Secure_Library.Properties.Settings.USERMANAGEMENTConnectionString1"
            connectionString="Data Source=DASZU-KOMPUTER;Initial Catalog=USERMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>